@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.mainVideo__image{
  width: 100%;
  height: 15rem;
  margin-top: -1.5625rem;

  @include tablet {
    margin-top: 0;
    background-color: $secondary-color-black;
    height: 20rem;
  }
}

.mainVideo__container{
}