//view breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$primary-color-black: #323232;
$primary-color-blue: #0095FF;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;

//secondary colors
$secondary-color-black: #000000;
$secondary-color-blue: #0065AD;
$secondary-color-mercury: #E1E1E1;
$secondary-color-alabaster: #FAFAFA;


