//fonts
@font-face {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
