@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";


.mainVideo {
	&__container {

		@include desktop {
			display: flex;
			flex-direction: row;
			width: 80%;
			margin: 0 auto;
		}
	}

	&__comments {
		margin-top: 3rem;
	}

	&__next-video {
		margin-top: -13rem;
	}
}

.mainVideo__next-video {

	margin-top: 0;

	@include tablet {
		margin-top: 0;
	}

	@include desktop {
		margin-top: -16rem;
		margin-right: 2.3rem;
	}
}