@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.mainVideo{
  display: flex;
  flex-direction: column;



  &__container{

    display: flex;
    flex-direction: column;
    // @include desktop{
    //   display: flex;
    //   flex-direction: row;
    // }
  }

  &__example{
    @include desktop{
      display: flex;
      margin-top: 0;
    }
  }

  &__next-video{
    // @include desktop{
    //   display: flex;
    //   flex-direction: row;
    // }

  }

}