@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.nextVideo{
  margin-left: 1rem;
  display: flex;
  align-items: center;

&__info{
  padding-left: 1rem;
  @include subheader-mobile;
}

&__image{
  height: 75px;
  width: 130px;
  border-radius: 4px;
  object-fit: cover;
}

&__title{
  width: 100%;
  font-weight: 700;
}

}