@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.nextVideoContainer{
  &__header{
    margin: 0 1rem;
    padding: 1rem 0;
    color: $primary-color-silver;
    @include section-header-mobile;
    border-top: 1px solid $secondary-color-mercury;
  }

  @include desktop{
    border-left: 1px solid $secondary-color-mercury;
  }
}