@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
@import "../../styles/partials/typography.scss";

.nav{
  display: flex;
  flex-direction: column;

&__logo{
  text-align: center;
}

&__logo-image{
  height: 1.5625rem;
  padding: 1rem;
}

&__search {
  display: flex;
  justify-content: space-around;
}

&__search-bar{
  width: 55%;
  height: 2.25rem;
  padding-left: 2.5rem;
  background-color: $secondary-color-alabaster;
  border: 1px solid $secondary-color-mercury;
  border-radius: 4px;
}

&__search-icon{
  position: absolute;
  left: 30px;
  top: 74px;
}

&__search-image{
  object-fit: cover;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%
}

}