@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
// @import "../../styles/partials/typography.scss";

.nav{

&__logo{
  text-align: center;
}

&__logo-image{
  height: 1.5625rem;
  padding: 1rem;
}

&__search{
  display: flex;
  justify-content:space-around;
}

&__search-bar{
  width: 65%;
  color: $primary-color-black;
}

&__search-image{
  object-fit: cover;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%
}

&__upload{
  padding: 1rem 1em;
}

&__upload-button{
  display: flex;
  align-items: center;
  height: 2.25rem;
  width: 100%;
  background-color: $primary-color-blue;
  border: none;
  border-radius: 4px;
  color: $primary-color-white;
  font-weight: 600px;
}

&__upload-text{
  padding-left: 5rem;
}

}